body {
  margin: 0;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
}

.overlay img {
  width: 50%;
  display: block;
  margin: auto;
}

.next-btn {
  color: white;
  position: absolute;
  background: #000000bf;
  top: 20%;
  right: 0;
  padding: 1rem;
  margin-right: 0.5rem;
}
.prev-btn {
  color: white;
  position: absolute;
  background: #000000bf;
  top: 20%;
  padding: 1rem;
  margin-left: 0.5rem;
}
.close-btn {
  color: white;
  position: absolute;
  font-family: monospace;
  background: #000000bf;
  top: 0;
  right: 0;
  padding: 1rem;
  margin-left: 0.5rem;
}
